<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="File"
              name="usersController"
              layout="${longdate}|${level}${newline}${message}"
              fileName="${basedir}/App_Data/logs/TasksController_${shortdate}.log"
            />
      </targets>
    <rules>
      <logger name="TasksApp.Controllers.TasksController" writeTo="TasksController" minlevel="Debug" />
    </rules>
  </nlog>
</configuration>